.wp-block-xwp-country-card .components-form-token-field__suggestion {
	white-space: pre-wrap;
}

.components-wrapper {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
	columns: 2;
}

.components-wrapper .components-placeholder {
	justify-content: flex-start;
}
